* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  footer {
    position: sticky;
    top: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    margin-top: 20px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  position: fixed;
  z-index: -998;
  width: 100vw;
  height: 100vh;
  scale: 2;
  background-image: url("../public/circles.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: rotate 360s linear infinite;
  filter: blur(100px);
}

.background2 {
  position: fixed;
  z-index: -999;
  width: 100vw;
  height: 100vh;
  background: #141414;
}

:root {
  .rs-theme-dark,
  .rs-theme-light {
    transition: background-color 800ms ease;
  }
  .rs-sidenav {
    height: 100%;
  }
  .rs-navbar-default {
    background: rgba(0, 0, 0, 0.1);
  }
  .rs-nav-vertical {
    margin-bottom: 0;
  }
  .rs-sidenav-item {
    white-space: nowrap;
    &.rs-sidenav-item.rs-toggle {
      padding-left: 6px;
    }
  }
  .rs-theme-dark {
    .rs-carousel-shape-dot .rs-carousel-label {
      height: 12px;
      width: 12px;
    }
    .rs-carousel-label-wrapper input:checked~label {
      height: 15px;
      width: 15px;
      background: #8f21c2;
      margin-top: 1px;
    }
    .rs-carousel-toolbar {
      pointer-events: none;
    }
    --rs-carousel-bg: rgba(0, 0, 0, 0);
    --rs-navbar-default-hover-bg: rgba(0, 0, 0, 0.1);
    --background_item_shop: #151c28;
    --background-scroolbar-thumb: #bbbbbb;
    --rs-btn-default-bg: #21252e;
    --rs-btn-default-hover-bg: #313744;
    --background-color-placeholder: #202938;
    --background-color-placeholder-table: #1a1d24;
    --background-color-placeholder-table-item: #1d2330;
    .rs-picker-menu:not(.rs-picker-picker-select-menu):not(
        .rs-picker-check-menu
      ):not([role]),
    .rs-auto-complete-menu-items {
      opacity: 0.9;
    }
    .rs-carousel-slider-item {
      height: fit-content;
    }
  }
  .rs-input-number-btn-group-vertical {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
}

::-webkit-scrollbar-track {
  background-color: #3c3c3c;
}

.blue {
  color: #34c3ff
}

.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: fit-content;
  max-width: 1480px;
  padding: 0 40px;
  .altromon_about {
    height: auto;
    width: 100%;
    filter: brightness(60%);
    border-radius: 20px;
  }
  .preview {
    height: 652px;
    position: relative;
    align-items: center;
    border-radius: 10px;
    .logo {
      height: 100%;
      top: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      .upperLogo {
        padding-top: 60px;
        height: 82%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          font-size: 36px;
          font-weight: 550;
          color: white;
          text-decoration: none;
          padding: 20px 40px;
          position: relative;
          margin-top: auto;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 15px;
            border: 5px solid transparent;
            background: var(--downloadAnimation);
            -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
          }
        }
      }
      .about {
        color: white;
        font-size: 72px;
        font-weight: 550;
        padding-top: 96px;
      }
      .createdBy {
        color: rgba(255, 255, 255, 0.5);
        font-size: 24px;
        margin-top: auto;
        padding-bottom: 25px;
      }
    }
    img {
      max-width: 1400px;
    }
  }
}
